<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Harmonization</title>
    <link rel="stylesheet" href="static/styles/index.css">
</head>
<body>
    <div>
        <button id="recordButton"></button>
        <div id="audioContainer">
            <audio id="audioPlayback" controls style="display: none;"></audio>
        </div>
    </div>
    <script src="static/scripts/index.js"></script>
</body>
</html>
